@import 'tailwindcss';

/* Custom Colors */
@theme {
  /* Primary Colors  */
  --color-primaryColor: #d75300;
  --color-primaryLight: #efefef;

  /* Text Color  */
  --color-headingColor: #;
  --color-paragraphColor: #;
  --color-headingExtra: #;

  /* Bg  */
  --color-bgPrimary: #;
  --color-bgSecondary: #;

  /* Dark Color */
  --color-dark1Color: #;
  --color-dark2Color: #;
  --color-dark3Color: #;
  --color-dark4Color: #d9d9d9;
  --color-dark5Color: #;

  /* font */
  --font-primaryFont: 'Inter', sans-serif;
}

@layer utilities {
  img {
    max-width: 100%;
    height: auto;
  }

  .containers {
    @apply max-w-[1440px] mx-auto py-4 px-2;
  }
  #hero_area {
    background: url('../images/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
    @apply lg:rounded-3xl;
  }
  .btns {
    font-size: 10px;
    padding: 6px 10px;
    border-radius: 34px;
  }
  .paddingXl {
    padding: 60px 0;
  }
  #imagesBG {
    background: url('../images/galaxy-s24-highlights-galaxy-offers-trade-in-removebg-preview\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eeeeee;
    opacity: 0.9;
  }
  .widthsCustoms {
    width: 100%;
  }
}
